<!doctype html>
<html lang="en">

<head>
  <meta name="robots" content="noindex">
  <meta charset="utf-8">
  <meta name="viewport" content="width=1024">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Blockai Seed+ Deck (CONFIDENTIAL)</title>

  <link href="css/deck.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="favicon.ico">
  <!-- For third-generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
  <!-- For iPhone with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
  <!-- For first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
</head>

<body class="impress-not-supported">

  <div id="impress">
      <div id="deck" class="step hide" data-y="0">
        <img class="logo" src="/assets/blockai-logo.png" width="500px"><br><br>
        <h3>Seed+ Round Deck</h3>
        <p class="investor">For: <%= investor %></p>
      </div>

      <div id="intro" class="step hide" data-y="1000">
        <h3 class="highlight">Our mission is to bring real ownership and publishing to the web.</h3>
      </div>

      <div id="problem" class="step hide" data-y="2000">
        <h3>The Problem.</h3>
        <p><img src="/assets/the-internet.jpg" height="600px"></p>
      </div>

      <div id="problem-ext" class="step hide" data-y="2000" data-rotate-y="180">
        <p>There is no concept of ownership on the web.</p>
          <h3><b>Creators</b> get screwed.</h3>
      </div>

      <div id="problem-ext2" class="step two hide" data-y="3000" data-rotate-y="180">
        <p class="rotate">The writing is on the wall.</p> 
        <h3 class="rotate">It's a $<b>1 Trillion</b> dollar problem.</h3>
                <img class="no-ownership" width="600px" src="assets/no-ownership.jpg">
      </div>

      <div id="solution" class="step hide" data-y="4000">
        <h3>The Solution.</h3>
        <h2>Blockchain Publishing Platform.</h2>
        <img class="platform" src="/assets/wallet.png"><img class="platform" src="/assets/publish.png"><img class="platform" src="/assets/distribute.png"><img class="platform" src="/assets/manage.png">
        <p class="stake">Create Decentralized Identity. Store your data. Publish to the Blockchain. Distribute across the web. Manage your ownership stake.(**Replace with illustration, then use videos to show how each part functions**)</p>
      </div>

      <div id="how-it-works" class="step hide" data-y="5000">
        <h3>How does it work?</h3>
      </div>

      <div id="bitcoin-wallet" class="step hide" data-y="6000" data-z="1000">
        <h3>Create a Bitcoin ID Wallet.</h3>
        <video width="640" height="480" id="video1" autoplay>
          <source src="assets/video/video1.mp4" type="video/mp4"/>
          <!-- include ogg etc. -->
        </video>
      </div>

      <div id="bitstore" class="step hide" data-y="7000" data-z="2000">
        <h3>Store your media with Bitstore.</h3>
        <video width="640" height="480" id="video2" autoplay>
          <source src="assets/video/video2.mp4" type="video/mp4"/>
          <!-- include ogg etc. -->
        </video>
      </div>

      <div id="openpublish" class="step hide" data-y="8000" data-z="3000">
        <h3>Open Publish your media.</h3>
        <video width="640" height="480" id="video3" autoplay>
          <source src="assets/video/video3.mp4" type="video/mp4"/>
          <!-- include ogg etc. -->
        </video>
      </div>

      <div id="distribute" class="step hide" data-y="9000" data-z="4000">
        <h3>Distribute your media.</h3>
        <video width="640" height="480" id="video4" autoplay>
          <source src="assets/video/video4.mp4" type="video/mp4"/>
          <!-- include ogg etc. -->
        </video>
      </div>

      <div id="manage" class="step hide" data-y="10000" data-z="5000">
        <h3>Manage your assets.</h3>
        <video width="640" height="480" id="video5" autoplay>
          <source src="assets/video/video5.mp4" type="video/mp4"/>
          <!-- include ogg etc. -->
        </video>
      </div>

      <div id="competition" class="step hide" data-y="11000">
        <h3>Competition</h3>
        <img src="assets/competition.jpg" width="400px">
        <p>*insert graphic, similar to our previous deck*</p>
      </div>

      <div id="user-acquisition" class="step hide" data-y="12000">
        <h3>User Acquisition</h3>
        <p>Expanding Pie showing memes -> photos -> books, music, video, etc.</p>
        <p>Indicate how Artists + Bitcoiners + Engineers will help push us up. 
      </div>

      <div id="milestones" class="step hide" data-y="13000">
        <h3>Milestones</h3>
        <p>Chart showing hit x milestone(s). Removed x risk.</p>
        <p>Investors: Scott & Cyan Banister, Sterling Ventures, Vectr Ventures, Social Starts, Brian Cartmell, Alex Banh</p>
      </div>

       <div id="team" class="step hide" data-y="14000">
        <h3>Team</h3>
      </div>

       <div id="nathan" class="step hide" data-y="14000" data-rotate-y="180">
        <h3>Nathan Lands, CEO & Co-Founder</h3>
        <img src="assets/team/nathan-lands.jpg">
        <ul>
          <li>Point 1</li>
          <li>Point 2</li>
          <li>Point 3</li>
        </ul>
      </div>

       <div id="william" class="step hide" data-y="14000" data-rotate-y="180" data-z="1000">
        <h3>William Cotton, CTO & Co-Founder</h3>
        <img src="assets/team/william-cotton.jpg">
        <ul>
          <li>Point 1</li>
          <li>Point 2</li>
          <li>Point 3</li>
        </ul>
      </div>

       <div id="olivier" class="step hide" data-y="14000" data-rotate-y="180" data-z="2000">
        <h3>Olivier Lalonde, Engineer</h3>
        <img src="assets/team/olivier-lalonde.jpg">
        <ul>
          <li>Point 1</li>
          <li>Point 2</li>
          <li>Point 3</li>
        </ul>
      </div>

       <div id="lila" class="step hide" data-y="14000" data-rotate-y="180" data-z="3000">
        <h3>Lila Strominger, Designer</h3>
        <img src="assets/team/lila-strominger.jpg">
        <ul>
          <li>Harvard</li>
          <li>Point 2</li>
          <li>Also, can code.</li>
        </ul>
      </div>

       <div id="advisors" class="step hide" data-y="14000" data-rotate-y="180" data-z="4000">
        <p class="advisors">Advisors & Investors from:</p>
        <img src="assets/team/advisors.jpg">
      </div>


      <div id="closing" class="step hide" data-y="15000" data-rotate-y="180" data-z="6000">
        <h3 class="highlight">Blockai has the potential to revolutionize media publishing, becoming the main tool everyone uses to publish and manage their creative assets.</h3>
      </div>

      <div id="finance" class="step hide" data-y="16000">
        <h3>Seed+ Round</h3>
        <p>Raising $1M Convertible Debt to find product market fit and reach milestones for Series A.</p>
        <p>Seed+ Round gives us ~X months runway.</p>
      </div>

      <div id="thanks" class="step hide" data-y="17000">
        <h3>Thank you.</h3>
        <p> Email <a href="mailto:nathan@blockai.com?Subject=Seed+ Round">nathan@blockai.com</a> to discuss our round.</p>
      </div>

      <div id="appendix" class="step hide" data-y="18000">
        <h3>Appendix:</h3>
        <li>Woot</li>
        <li>Woot woot</li>
      </div>

      <div id="office" class="step hide" data-y="19000">
         <h3>Our Office</h3>
         <p class="investor">We have an amazing deal on a 3 year lease for a private office in Japan Town for only $1,870 a month including lobby, kitchen and 6 rooms. Not a typo. :)</p>
        <img src="/assets/office/3.jpg">
      </div>

      <div id="github" class="step hide" data-y="20000">
        <h3>Github Links</h3>
          <ul>
            <li>Lala</li>
            <li>Lala</li>
            <li>Lala</li>
          </ul>
      </div>

      <div id="proceeds" class="step hide" data-y="21000">
        <h3>Use of Proceeds</h3>
          <ul>
            Will primarily be used for engineer salaries. 
            QX Burn
            QX Burn
            QX Burn
            QX Burn
            Seed+ Round gives us ~X months of runway. 
          </ul>
      </div>

            <div id="sidechains" class="step hide" data-y="22000">
        <h3>Blockchains / Sidechains</h3>
          <ul>
            <li>We expect <strong>Bitcoin</strong> to be the main crypto-currency for the foreseeable future, but can adjust if that proves to be false.</li>
            <li>Our technology is built in such a way that we can easily move to any other cyrpto-currency blockchains or "Sidechains".</li>
          </ul>
      </div>

      <!--Good option examples

      <div id="its-in-3d" class="step" data-x="6200" data-y="4300" data-z="-100" data-rotate-x="-40" data-rotate-y="10" data-scale="2">
        <p><span class="have">have</span> <span class="you">you</span> <span class="noticed">noticed</span> <span class="its">it's</span> <span class="in">in</span> <b>3D<sup>*</sup></b>?</p>
        <span class="footnote">* beat that, prezi ;)</span>
      </div>-->
    </div>

    <div class="hint">
      <h1 class="hint">Use arrow keys or slide down to navigate.</h1>
    </div>

    <div class="hint2">
      <h1 class="hint2">Continue on for the Appendix.</h1>
    </div>

    <script>
      if ("ontouchstart" in document.documentElement) { 
      document.querySelector(".hint").innerHTML = "<h1>Tap on the top or bottom to navigate.</h1>";
      }
    </script>

    <script src="js/impress.js"></script>
    <script>impress().init();</script>

    <!-- TypeKit customized script, optimized for mobile. -->
    <script type="text/javascript">
    (function(d) {
      var tkTimeout=3000;
      if(window.sessionStorage){if(sessionStorage.getItem('useTypekit')==='false'){tkTimeout=0;}}
      var config = {
        kitId: 'vlo3icc',
        scriptTimeout: tkTimeout
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+"wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
    </script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59278707-1', 'auto');
    ga('send', 'pageview');
    </script>

    <script type="text/javascript">
      var videoStep1 = document.getElementById("bitcoin-wallet");
var video1 = document.getElementById("video1");
videoStep1.addEventListener("impress:stepenter", function() {
    video1.play();
}, false);
videoStep1.addEventListener("impress:stepleave", function() {
    video1.pause();
}, false);
    </script>
        <script type="text/javascript">
      var videoStep2 = document.getElementById("bitstore");
var video2 = document.getElementById("video2");
videoStep2.addEventListener("impress:stepenter", function() {
    video2.play();
}, false);
videoStep2.addEventListener("impress:stepleave", function() {
    video2.pause();
}, false);
    </script>
        <script type="text/javascript">
      var videoStep3 = document.getElementById("openpublish");
var video3 = document.getElementById("video3");
videoStep3.addEventListener("impress:stepenter", function() {
    video3.play();
}, false);
videoStep3.addEventListener("impress:stepleave", function() {
    video3.pause();
}, false);
    </script>
        <script type="text/javascript">
      var videoStep4 = document.getElementById("distribute");
var video4 = document.getElementById("video4");
videoStep4.addEventListener("impress:stepenter", function() {
    video4.play();
}, false);
videoStep4.addEventListener("impress:stepleave", function() {
    video4.pause();
}, false);
    </script>
        <script type="text/javascript">
      var videoStep5 = document.getElementById("manage");
var video5 = document.getElementById("video5");
videoStep5.addEventListener("impress:stepenter", function() {
    video5.play();
}, false);
videoStep5.addEventListener("impress:stepleave", function() {
    video5.pause();
}, false);
    </script>

  </body>
  </html>