<!doctype html>
<html lang="en">

<head>
  <meta name="robots" content="noindex">
  <meta charset="utf-8">
  <meta name="viewport" content="width=1024">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Blockai Seed+ Deck (CONFIDENTIAL)</title>

  <link href="css/deck.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="favicon.ico">
  <!-- For third-generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
  <!-- For iPhone with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
  <!-- For first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
</head>

<body>

  <div id="impress">
      <div id="deck" class="step hide" data-y="0">
        <img src="/assets/blockai-logo.png" width="500px"><br><br>
        <h3>Seed+ Round Deck</h3>
        <q>For: <%= investor %></q>
      </div>

      <div id="intro" class="step hide" data-y="1000">
        <h3>Our mission is to bring real ownership and publishing to the web.</h3>
      </div>

      <div id="problem" class="step hide" data-y="2000">
        <h3>The Problem.</h3>
        <q><img src="/assets/the-internet.jpg" height="650px"></q>
      </div>

      <div id="problem-ext" class="step hide" data-y="2000" data-rotate-y="180">
        <q>There is no concept of ownership on the internet. Creators get screwed.</q>
      </div>

      <div id="problem-ext2" class="step two hide" data-y="2100" data-rotate-y="180">
        <q>Media ownership is broken on the web. (headlines Facebook video, music..)</q>
      </div>

      <div id="solution" class="step hide" data-x="0" data-y="3000">
        <h3>The Solution:</h3>
        <h2>Blockchain Publishing Platform.</h2>
          <ul>
            <li>Decentralized identity.</li>
            <li>Publish once, entire world can use. Claim ownership.</li>
            <li>Smart contracts make sure the rights holders get their money.</li>
          </ul>
      </div>

      <div id="how-it-works" class="step hide" data-x="0" data-y="4000">
        <h3>How does it work?</h3>
      </div>

      <div id="bitcoin-wallet" class="step hide" data-x="1000" data-y="4000">
        <img src="/assets/wallet.png">
        <h3>Create a Bitcoin ID Wallet.</h3>
      </div>

      <div id="store" class="step hide" data-x="2000" data-y="4000">
        <q><i>(OPTIONAL)</i></q>
        <h3>Store your media with Bitstore.</h3>
      </div>

      <div id="publish" class="step hide" data-x="3000" data-y="4000">
        <img src="/assets/publish.png">
        <h3>Open Publish your media.</h3>
      </div>

      <div id="distribute" class="step hide" data-x="4000" data-y="4000">
        <img src="/assets/distribute.png">
        <h3>Distribute your media.</h3>
      </div>

      <div id="manage" class="step hide" data-x="5000" data-y="4000">
        <img src="/assets/manage.png">
        <h3>Manage your assets.</h3>
      </div>

      <!-- Competition? Business Model? -->

      <div id="team" class="step hide" data-x="0" data-y="5000">
        <h3>People</h3><br>
        <p>
        <img src="assets/nathan-lands.jpg"><img src="assets/william-cotton.jpg"><img src="assets/olivier-lalonde.jpg"><img src="assets/lila-strominger.jpg">
        </p>
        <q>Team: Nathan Lands, William Cotton, Olivier Lalonde, Lila Strominger</q>
        <p>3 points each.</p>
      </div>

      <div id="team-back" class="step hide" data-x="0" data-y="5000" data-rotate-y="180">
        <h3> Backed up by </h3>
        <p>Advisors: Zach Klein, Don Dodge, Paul McKellar, Kevin Chou, Kai Huang, Bill Tai, Vinny Lingham, Niero Gonzalez, Ron Williams</p>
        <p>Scott & Cyan Banister, Sterling Ventures, Vectr Ventures, Social Starts, Brian Cartmell, Alex Banh</p>
      </div>

      <div id="timeline" class="step hide" data-x="0" data-y="6000">
        <h3> Timeline </h3>
        <q>Raised $560k Seed Round. Hit x milestone(s). Removed x risk.</q>
      </div>

      <div id="finance" class="step hide" data-x="0" data-y="7000">
        <h3> Finance </h3>
        <q>Raising $1M Convertible Debt to take product to market, find product market fit and reach milestones for Series A.</q>
      </div>

      <div id="final" class="step hide" data-x="0" data-y="8000">
        <h2>Blockai has dat potential!!</h2>
      </div>

      <div id="appendix" class="step hide" data-x="0" data-y="9000">
        <h3>Appendix:</h3>
        <li>Woot</li>
        <li>Woot woot</li>
      </div>

      <div id="office" class="step hide" data-x="0" data-y="10000">
         <h3>Our Office</h3>
         <q>We have a 3 year lease on an office in Japan Town for only $1,870 a month for X squarefeet. Not a typo. :)</q>
        <img src="/assets/office/3.jpg">
      </div>

      <div id="github" class="step hide" data-x="0" data-y="11000">
        <h3>Github Links</h3>
          <ul>
            <li>Lala</li>
            <li>Lala</li>
            <li>Lala</li>
          </ul>
      </div>

      <!--Good option examples

      <div id="its-in-3d" class="step" data-x="6200" data-y="4300" data-z="-100" data-rotate-x="-40" data-rotate-y="10" data-scale="2">
        <p><span class="have">have</span> <span class="you">you</span> <span class="noticed">noticed</span> <span class="its">it's</span> <span class="in">in</span> <b>3D<sup>*</sup></b>?</p>
        <span class="footnote">* beat that, prezi ;)</span>
      </div>-->
    </div>

    <script src="js/impress.js"></script>
    <script>impress().init();</script>

    <!-- TypeKit customized script, optimized for mobile. -->
    <script type="text/javascript">
    (function(d) {
      var tkTimeout=3000;
      if(window.sessionStorage){if(sessionStorage.getItem('useTypekit')==='false'){tkTimeout=0;}}
      var config = {
        kitId: 'vlo3icc',
        scriptTimeout: tkTimeout
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+"wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
    </script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59278707-1', 'auto');
    ga('send', 'pageview');
    </script>

  </body>
  </html>